@import url("http://fonts.googleapis.com/css?family=Raleway:400,700");
body {
  background: #e7e7e7;
  font-family: 'Raleway', sans-serif;
}
a {
  color: #4ae;
}
a:visited {
  color: #29d;
}
a:hover {
  color: #5bf;
}
header.top {
  width: 100%;
  margin: 0;
  background: #333;
}
header.top h1 {
  color: #69a;
  padding: 20px 0;
  max-width: 700px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 1em;
  display: block;
}
#content {
  max-width: 800px;
  margin: 0 auto;
  background: #f1f1f1;
  padding: 60px 85px 60px 100px;
  display: block;
}
#content h1:first-child {
  border-bottom: 4px solid #267;
  padding: 10px 0 20px;
}
#content h2 {
  font-size: 2.2em;
  font-weight: normal;
  border-bottom: 1px solid #aaa;
  padding: 10px 0;
}
#content h3 {
  padding: 10px 0 3px;
  margin: 20px 0;
  border-bottom: 1px dotted #dedede;
  color: #444;
  font-size: 1.3em;
}
dl dt {
  padding: 6px 0;
  color: #444;
}
