@import url("http://fonts.googleapis.com/css?family=Raleway:400,700");
code .highlight .kd,
code .highlight .nt {
  color: #4dd;
}
code .highlight .nx {
  color: #333;
}
code .highlight .p,
code .highlight .o {
  color: #d47;
}
code .highlight .sr {
  color: #aa1;
}
code.lang-js .p {
  color: #333;
}
/* Page Vars */
/* Colors */
body {
  background: #e7e7e7 url("../images/shattered.png");
  font-family: 'Raleway' sans-serif;
}
a {
  color: #4ae;
}
a:visited {
  color: #29d;
}
a:hover {
  color: #5bf;
}
header.top {
  width: 100%;
  margin: 0;
  background: #333 url("../images/use_your_illusion.png");
}
header.top h1 {
  color: #69a;
  padding: 20px 0;
  max-width: 800px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 1em;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
header.top h1 span {
  margin: 5px 3px;
}
header.top h1 .readme {
  padding: 6px 11px;
  border-radius: 2px;
  background: #333;
  color: #aaa;
  border: 0 none;
  border-bottom: 1px solid #222;
  font-size: 0.8em;
  margin: 5px 2px;
}
header.top h1 .readme:hover {
  background: #555;
  color: #bbb;
  border-bottom: 1px solid #222;
}
header.top h1 .readme:active {
  background: #444;
  color: #999;
  border-top: 1px solid #222;
}
header.top h1 .spacer {
  flex: 1 1 auto;
}
header.top h1 #toggle-md {
  padding: 6px 11px;
  border-radius: 2px;
  background: #333;
  color: #aaa;
  border: 0 none;
  border-bottom: 1px solid #222;
  font-size: 0.8em;
  margin: 5px 2px;
  align-self: flex-end;
}
header.top h1 #toggle-md:hover {
  background: #555;
  color: #bbb;
  border-bottom: 1px solid #222;
}
header.top h1 #toggle-md:active {
  background: #444;
  color: #999;
  border-top: 1px solid #222;
}
header.top h1 .show-files {
  padding: 6px 11px;
  border-radius: 2px;
  background: #333;
  color: #aaa;
  border: 0 none;
  border-bottom: 1px solid #222;
  font-size: 0.8em;
  margin: 5px 2px;
  align-self: flex-end;
}
header.top h1 .show-files:hover {
  background: #555;
  color: #bbb;
  border-bottom: 1px solid #222;
}
header.top h1 .show-files:active {
  background: #444;
  color: #999;
  border-top: 1px solid #222;
}
header.top #file-browser {
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}
header.top #file-browser.active {
  height: 500px;
  overflow: scroll;
  transition: height 0.4s;
}
#content {
  max-width: 800px;
  margin: 0 auto;
  background: #f1f1f1;
  padding: 60px 85px 60px 100px;
  display: block;
}
#content > h1:first-child {
  border-bottom: 6px solid #267;
  padding: 10px 0 20px;
  font-size: 2em;
}
#content h2 {
  font-size: 2.2em;
  font-weight: normal;
  border-bottom: 1px solid #aaa;
  padding: 10px 0;
}
#content h3 {
  padding: 10px 0 3px;
  margin: 20px 0;
  border-bottom: 1px dotted #dedede;
  color: #444;
  font-size: 1.3em;
}
#footer {
  max-width: 800px;
  margin: 0 auto;
}
#raw-md {
  display: block;
  max-height: 0;
  background: #333;
  transition: max-height 0.4s;
  overflow: hidden;
  box-shadow: 0 -2px 2px #000 inset;
}
#raw-md.active {
  max-height: 500px;
  overflow: scroll;
  transition: max-height 0.4s;
}
#raw-md section.content {
  max-width: 800px;
  margin: 0 auto;
  margin: 0 auto;
  font-family: 'Courier New', monospace;
  background: transparent;
  color: #de3;
/*float left*/
  padding: 20px 10px;
  border: 0 none;
}
#raw-md section.content:focus {
  outline: 0 none;
}
#raw-md section.content p {
  color: #de3;
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 24px;
}
#raw-md section.content p .line-number {
  flex: 0 1 auto;
  min-width: 4%;
  margin: 0;
  padding: 0;
}
#raw-md section.content p pre.content {
  flex: 1 1 auto;
  margin: 1px 0 0 0;
  padding: 1px 0 1px 10px;
  background: transparent;
  color: #de3;
  border: 0 none;
  border-left: 1px solid #660;
}
#raw-md section.content p pre.content:focus {
  outline: 0 none;
  background: #3e3e30;
}
#raw-md section.content p.active .line-number {
  color: #333;
  background: #de3;
}
header.md-options {
  width: 100%;
  background: #999;
  height: 0px;
  transition: height 0.4s;
  overflow: hidden;
}
header.md-options.active {
  height: 50px;
  transition: height 0.4s;
  overflow: hidden;
  display: block;
}
header.md-options .options {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  overflow: hidden;
}
header.md-options .options .apply-changes {
  padding: 6px 11px;
  border-radius: 2px;
  background: #de3;
  color: #aaa;
  border: 0 none;
  border-bottom: 1px solid #222;
  font-size: 0.8em;
  margin: 5px 2px;
  color: #333;
}
header.md-options .options .apply-changes:hover {
  background: #555;
  color: #bbb;
  border-bottom: 1px solid #222;
}
header.md-options .options .apply-changes:active {
  background: #444;
  color: #999;
  border-top: 1px solid #222;
}
dl dt {
  padding: 6px 0;
  color: #444;
}
